<style>
  img {
    height: 100px;
  }
</style>
<div class="container">
  <hr>
    <div class="row">
        <div class="bs-example" data-example-id="simple-table">
          <table class="table"> <caption><h1>Your Purchases</h1></caption>
            <thead>
              <tr>
                <th>Order ID</th>
                <th>Image</th>
                <th>Product</th>
                <th>Ship Address</th>
                <th>City</th>
                <th>Time</th>
                <th>Ship</th>
              </tr>
            </thead>
            <tbody ng-repeat="order in orders">
              <tr>
                <th>{{order.order_id}}</th>
                <th><img ng-src="{{order.img_url}}" alt="Beer"/></th>
                <td>{{order.name}}</td>
                <td>{{order.address1}}</td>
                <td>{{order.city}}</td>
                <td>{{order.purchase_time}}</td>
                <td>
                  <span ng-if="order.order_status==='active'">Not Shipped</span>
                  <span ng-if="order.order_status==='shipped'">Shipped!</span></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>