<header class="header">

            <div class="container">
            <br>
            <br>
              <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-12">

                            <h1 class="page-header">Your current inventory</h1>
              </div>


            </div>
                <div class="row">
                  <form ng-submit="createProduct()">
                    <h5>name</h5>
                    <input type="text" ng-model="product.name"><br>
                    <h5>type</h5>
                    <input type="text" ng-model="product.type"><br>
                    <h5>price</h5>
                    <input type="text" ng-model="product.price"><br>
                    <h5>volume</h5>
                    <input type="text" ng-model="product.volume"><br>
                    <h5>img url</h5>
                    <input type="text" ng-model="product.img_url"><br>
                    <input type="submit">
                  </form>
                </div>

                <div class="row">
                  <div class="col-xs-12 col-sm-4 col-md-3">
                        <div class="productbox">
                          <img src="http://lorempixel.com/460/250/" class="img-responsive">
                          <div class="producttitle">Twitter, Inc.</div>
                          <p class="text-justify">The place to be.</p>
                          <address>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                          </address>

                          <address>
                            <strong>Full Name</strong><br>
                            <a href="mailto:#">first.last@example.com</a>
                          </address>
                          <div class="productprice">
                              <div class="pull-right">
                                  <a href="#" class="btn btn-success btm-sm" role="button">Delete <span class="glyphicon glyphicon-cutlery"></span></a>
                              </div>
                              <div class="pricetext">
                                  <a href="#" class="btn btn-warning btm-sm" role="button">Edit <span class="glyphicon glyphicon-cog"></span></a>
                              </div>

                              </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="productbox">
                          <img src="http://lorempixel.com/460/250/" class="img-responsive">
                          <div class="producttitle">Twitter, Inc.</div>
                          <p class="text-justify">The place to be.</p>
                          <address>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                          </address>

                          <address>
                            <strong>Full Name</strong><br>
                            <a href="mailto:#">first.last@example.com</a>
                          </address>
                          <div class="productprice">
                              <div class="pull-right">
                                  <a href="#" class="btn btn-success btm-sm" role="button">Delete <span class="glyphicon glyphicon-cutlery"></span></a>
                              </div>
                              <div class="pricetext">
                                  <a href="#" class="btn btn-warning btm-sm" role="button">Edit <span class="glyphicon glyphicon-cog"></span></a>
                              </div>

                              </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="productbox">
                          <img src="http://lorempixel.com/460/250/" class="img-responsive">
                          <div class="producttitle">Twitter, Inc.</div>
                          <p class="text-justify">The place to be.</p>
                          <address>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                          </address>

                          <address>
                            <strong>Full Name</strong><br>
                            <a href="mailto:#">first.last@example.com</a>
                          </address>
                          <div class="productprice">
                              <div class="pull-right">
                                  <a href="#" class="btn btn-success btm-sm" role="button">Delete <span class="glyphicon glyphicon-cutlery"></span></a>
                              </div>
                              <div class="pricetext">
                                  <a href="#" class="btn btn-warning btm-sm" role="button">Edit <span class="glyphicon glyphicon-cog"></span></a>
                              </div>

                              </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="productbox">
                          <img src="http://lorempixel.com/460/250/" class="img-responsive">
                          <div class="producttitle">Twitter, Inc.</div>
                          <p class="text-justify">The place to be.</p>
                          <address>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                          </address>

                          <address>
                            <strong>Full Name</strong><br>
                            <a href="mailto:#">first.last@example.com</a>
                          </address>
                          <div class="productprice">
                              <div class="pull-right">
                                  <a href="#" class="btn btn-success btm-sm" role="button">Delete</a>
                              </div>
                              <div class="pricetext">
                                  <a href="#" class="btn btn-warning btm-sm" role="button">Edit <span class="glyphicon glyphicon-cog"></span></a>
                              </div>

                              </div>
                        </div>
                      </div>
                </div>
                <br>
                <br>
            </div>
        </header>
        <section class="section">
            <div class="container">
            <br>

            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="bs-example" data-example-id="simple-table"> <table class="table"> <caption>Your Sales</caption> <thead> <tr> <th>#</th> <th>First Name</th> <th>Last Name</th> <th>Username</th> </tr> </thead> <tbody> <tr> <th scope="row">1</th> <td>Mark</td> <td>Otto</td> <td>@mdo</td> </tr> <tr> <th scope="row">2</th> <td>Jacob</td> <td>Thornton</td> <td>@fat</td> </tr> <tr> <th scope="row">3</th> <td>Larry</td> <td>the Bird</td> <td>@twitter</td> </tr> </tbody> </table> </div>
                </div>
            </div>
        </section>