
<div ng-app="carousel">
  <div ng-controller="folderCtrl"> 
    <!-- Carousel
        ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" ng-repeat="img in images" class="{active : (img === 0)}" data-slide-to="{{img}}"></li>
      </ol>
      <div class="carousel-inner">
        <div ng-class="{item: true, active : (img === 0)}" ng-repeat="img in images"> <img ng-src="{{uri}}/{{w}}/{{h}}/{{currentFolder}}/{{img}}" alt="Slide numder {{img}}">
        <!-- ^ ng-src="{{img_url}}" -->
          <div class="container">
            <div class="carousel-caption"> </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a> </div>
    <!-- /.carousel --> 
    {{currentFolder}}
    <!-- Fixed navbar -->
    <div class="list-group">
      <div class="container list-group">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-repeat="folder in folders" class="{{activeFolder(folder)}}" ng-click="selectFolder(folder)"> <a>{{folder}}</a> </li>
          </ul>
        </div>
        <!--/.nav-collapse --> 
      </div>
    </div>
  </div>
</div>

<header id="page-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                    <h2>PORTAFOLIO</h2>
                 
                </div>
        </div>
    </div>
</header>

    <section class="primary" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Some items you cant live without...</h2>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center" ng-repeat="product in products">
                            <div class="panel panel-pricing"><a href="/#/products/{{product.id}}">
                                <div class="panel-heading">
                                    <i class="fa fa-desktop"></i>
                                    <h3>{{product.name}}</h3>
                                </div>
                                <div class="panel-body text-center">
                                    <img ng-src="{{ product.img_url }}" height="200px">
                                </div>

                                <ul class="list-group text-center">
                                    <li class="list-group-item">{{ product.type }}</li>
                                </ul>
                                
                            </div></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="#"><h4>Browse more</h4></a>
                    <br>
                </div>
            </div>

    </section>
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
                </div>
            </div>
        </div>
    </section>


