<!DOCTYPE html>
<html ng-app="ecomApp">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/angular-flash.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
      .ordered {
        position: absolute;
        width: 100%;
        top: 120px;
        z-index: 99;
        background-color: white;
        color: blue;
      }
    </style>
  </head>
  <body ng-cloak>
  <div class="wrapper">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand navbar-brand-centered"><img src="./img/logo.png"/><div style="clear:both;"></div></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
          <ul class="nav navbar-nav">
            <li><a href="/#/">Home</a></li>
            <li><a href="/#/">About</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/#/products">Beer List</a></li>
            <li><a href="/#/manufacturers">Brewers</a></li>
            <li data-ng-hide="token">
             <p class="navbar-btn">
                    <a href="/#/login" class="btn btn-primary btn-circle">Sign In</a>
                </p>
            </li>

            <li data-ng-hide="!token" ng-click="toggleCart()"><a>Shopping Cart {{cart.length}}</a></li>
            <li data-ng-hide="!token"><button type="button" class="btn btn-primary navbar-btn btn-circle" ng-controller="AuthCtrl" ng-click="logout()">Logout</button></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div>
      <shopping-cart></shopping-cart>
    </div>
    <div class="ordered text-center" ng-controller="productCtrl" ng-show="ordered">
      <button class="btn btn-default" ng-click="deleteOrderPopup()">
        <h1>Close Popup!</h1>
      </button>
      <button class="btn btn-default" ng-click="goToOrders()">
        <h1>Go to Orders!</h1>
      </button>
    </div>
    <flash-message duration="5000" show-close="true" on-dismiss="myCallback(flash)" ></flash-message>
    <ng-view></ng-view>
      <section class="footer">
        <div class="container">
          <div class="row">
              <div class="col-lg-4  col-md-4 col-sm-4">
                  <div class="footer_dv">
                      <h4>Services</h4>
                      <ul>
                          <li class="line_rv"><a href="canon-printer-support.php">Canon Printer Support</a></li>

                            <li><a href="hp-printer-support.php">Hp printer Support</a></li>
                            <li><a href="dell-printer-support.php">Dell Printer Support</a></li>
                            <li><a href="epson-printer-support.php">Epson printer Support</a></li>
                            <li><a href="samsung-printer-support.php">Samsung Printer Support</a></li>
                            <li><a href="lexmark-printer-support.php">Lexmark Printer Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-4">
                  <div class="footer_dv">
                      <h4>Services</h4>
                      <ul>
                          <li><a href="tosiba-printer-support.php">Toshiba Printer Support</a></li>
                            <li><a href="panasonic-printer-support.php">Panasonic Printer Support</a></li>
                            <li><a href="xerox-printer-support.php">Xerox Printer Support</a></li>
                            <li><a href="brother-printer-support.php">Brother printer support</a></li>
                            <li><a href="zebra-printer-support.php">Zebra printer support</a></li>
                            <li><a href="lenovo-printer-support.php">Lenovo printer Support</a></li>


                        </ul>
                    </div>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-4">
                  <div class="footer_dv">
                      <h4>Contact us</h4>
                      <p>Printer customer Support</p>
                <p>USA (TOLL FREE) 9125772929<br>


                    </p></div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container text-center">
              <small><a href="/#/admin/login">Admin Login</a></small>
          </div>
    </section>

  </div> <!-- end wrapper -->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.js"></script>
    <script src="./js/angular-flash.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/product/productController.js"></script>
    <script src="./app/product/productFactory.js"></script>
    <script src="./app/auth/authController.js"></script>
    <script src="./app/auth/authFactory.js"></script>
    <script src="./app/cart/showCartCtrl.js"></script>
    <script src="./app/cart/cartDirective.js"></script>
    <script src="./app/cart/cartController.js"></script>
    <script src="./app/cart/cartFactory.js"></script>
    <script src="./app/mfc/mfcController.js"></script>
    <script src="./app/mfc/mfcFactory.js"></script>
    <script src="./app/charge/chargeController.js"></script>
    <script src="./app/orders/orderController.js"></script>
    <script src="./app/orders/orderFactory.js"></script>


  </body>
</html>