<section class="section">
                <br/><br/><br/>

        <!-- Plans -->
        <section id="plans">
            <div class="container">
                <div class="pull-middle">
                        <h1 class="page-header">Check out some of our local Breweries.</h1>
            </div>
            <br>
                <div class="row">
                    <!-- item -->
                    <div class="col-md-3 text-center" ng-repeat="manufacturer in manufacturers">
                        <div class="panel panel-pricing">
                            <div class="panel-heading">
                                <i class="fa fa-desktop"></i>
                                <h3>{{manufacturer.name}}</h3>
                            </div>
                            <div class="panel-body text-center">
                                <img src="{{ manufacturer.img_url }}" height="200px">
                            </div>

                            <ul class="list-group text-center">
                                <li class="list-group-item"><i class="fa fa-check"></i>{{ manufacturer.contact }}</li>

                                <li class="list-group-item"><i class="fa fa-check"></i>{{ manufacturer.type }}</li>
                                <li class="list-group-item"><i class="fa fa-check"></i>{{ manufacturer.location }}</li>
                                    <li class="list-group-item"><i class="fa fa-check"></i>{{ manufacturer.logo_url }}</li>

                            </ul>
                            <div class="panel-footer">
                                <a class="btn btn-lg btn-block btn-success" href="/api/manufacturers/{{manufacturer.id}}">Learn more!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>