
<div class="container">
    <div class="row">
<div class="col-md-5 col-md-offset-1 mt-30 mb-100 {
    margin-bottom: 100px;}">
    <div class="content">
        <h1 class="page-header">Create Product</h1>
        <p class="lead">Fill out the form below to create products <b>to be added to your store.</b></p>
        <div class="panel panel-default">
                            <div class="panel-body">
              <form ng-submit="createProduct()" action="/api/image/upload" method="POST" enctype="multipart/form-data">
                <div class="input-group">
                    <input type="file" name="product" onchange="angular.element(this).scope().fileNameChanged(this)"><br>

                    <input type="text" ng-model="product.name" placeholder="Product Name" class="form-control"><br>

                    <input type="text" ng-model="product.type" placeholder="Product Type/Category" class="form-control"><br>

                    <input type="text" ng-model="product.price" placeholder="Price" class="form-control"><br>

                    <input type="text" ng-model="product.volume" placeholder="Volume" class="form-control"><br>

                    <textarea ng-model="product.description" placeholder="Description" class="form-control">
                    </textarea><br><br>


                    <span class="input-group-btn"><button class="btn btn-primary btn-circle" type="submit">Submit</button></span>
                </div>
              </form>
            </div>
        </div>
    </div>
</div>
<div class="col-md-5 col-md-offset-1 text-center mt-100">
                    <div class="phone">
                        <img class="img-responsive img-rounded mt-30" src="./img/registeradmin.png">
                    </div>
                </div>
              </div>
            </div>