<div class="container">
    <div class="row col-md-offset-3 col-md-6 text-center">
      <form ng-submit="updateProduct()">
        <h5>name</h5>
        <input type="text" ng-model="products[0].name"><br>
        <h5>type</h5>
        <input type="text" ng-model="products[0].type"><br>
        <h5>price</h5>
        <input type="text" ng-model="products[0].price"><br>
        <h5>volume</h5>
        <input type="text" ng-model="products[0].volume"><br>
        <h5>Description</h5>
        <textarea ng-model="products[0].description">
        </textarea><br>
        <h5>img url</h5>
        <input type="text" ng-model="products[0].img_url"><br>
        <input type="submit">
      </form>
    </div>
</div>