{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
<div class="container">
    
    <div class="row">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Create Staff Member</legend>
        <div class="control-group">
        <div class="col-md-4">
          <form class="" action'#' method="post">
            <label class="control-label input-label" for="startTime">Name :</label>
            <div>
                <input type="text" class="form-control" type="text" id="startTime" name="name" placeholder="Your Name" required maxlength="40" value=""/>
            </div>
            <br>
            <label class="control-label input-label" for="startTime">Email :</label>
            <div>
                <input type="text" class="form-control" type="text" id="startTime" name="email" placeholder="Your email" required maxlength="40" value=""/>
            </div>
            <label class="control-label input-label" for="startTime">Password :</label>
            <div>
                <input type="text" class="form-control" type="text" id="startTime" name="password" placeholder="Select a password" required maxlength="40" value=""/>
            </div>
            <br>
                    <a href="/"><button class="btn btn-danger btn-lg" type=""><span style='Times New Roman'>Cancel</span></button></a>
                    <button class="btn btn-success btn-lg" type="submit"><span style='Times New Roman'>Submit</span></button>
            </form>        
            </div> 
        </div>                    
        
    </fieldset>
    </div>
</div>

    
{% endblock %}


{% endblock %}