{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
    <div class="jumbotron">
      <div class="container">
         <div class="row">
           <div class="col-xs-12 col-md-12 col-lg-12">
              <h1>Checkout</h1>
            </div>
          </div>
        </div>
      <div class="container">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6 col-md-6 col-lg-6">
                <h4><strong>Items in Cart</strong></h4>
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>Cat Sweater x 1</h4>
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>$15.00</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-lg-6">
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>Snake Sweater x 3</h4>
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>$45.00</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-lg-6">
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>Dog Sweater x 1</h4>
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>$20.00</h4>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-lg-6">
                <h4><strong>Total</strong></h4>
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>5</h4>
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>$80.00</h4>
              </div>
            </div>
          </div>
       </div>
      </div>
    </div>
<div class="container">
    <hr>
  </div>
      <div class="container" id="shipping">

        <h2>Shipping</h2>
      </div>
      <!-- Names for Shipping
 -->
  <div class="container" id="names">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">First Name</span>
              <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipFirstNm">
            </div>
      </div>

      <div class= "col-xs-12 col-md-4 col-lg-4">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Last Name</span>
            <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipLastNm">
            </div>
      </div>
        <div class= "col-xs-12 col-md-4 col-lg-4">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Company</span>
            <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipComp">
            </div>

      </div>
    </div>
  </div>
  <br>
  <br>

<!--       Address line for shipping
 -->
  <div class="container" id="address">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Address Line 1</span>
              <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipAdd1">
            </div>
      </div>
      <div class= "col-xs-12 col-md-6 col-lg-6">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Address Line 2</span>
            <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipAdd2">
            </div>
      </div>
    </div>
  </div>
  <br>
  <br>

   <!--    State, Zipcode, and button to copy all shipping information to Billing -->

   <div class="container" id="state">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">State</span>
              <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipSt">
            </div>
      </div>
      <div class= "col-xs-12 col-md-4 col-lg-4">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Zipcode</span>
            <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipZip">
      </div>
    </div>
      <button type="button" class="btn btn-default btn-sm" id="button">
  <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> Copy shipping to billing?
</button>
  </div>
</div>
  <div class="container">
    <hr>
  </div>

  <div class="container" id="billing">
    <h2>Billing</h2>
  </div>

  <div class="container" id="billingNames">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">First Name</span>
              <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billFirstNm">
            </div>
      </div>
      <div class= "col-xs-12 col-md-4 col-lg-4">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Last Name</span>
            <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billLastNm">
            </div>
      </div>
        <div class= "col-xs-12 col-md-4 col-lg-4">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Company</span>
            <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billComp">
            </div>

      </div>
    </div>
  </div>
  <br>
  <br>
<!--       Address line for billing
 -->
  <div class="container" id="billingAddress">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Address Line 1</span>
              <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billAdd1">
            </div>
      </div>
      <div class= "col-xs-12 col-md-6 col-lg-6">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Address Line 2</span>
            <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billAdd2">
            </div>
      </div>
    </div>
  </div>
  <br>
  <br>

   <!--    State, Zipcode, and button to copy all shipping information to Billing -->

   <div class="container" id="billingState">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">State</span>
              <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billState">
            </div>
      </div>
      <div class= "col-xs-12 col-md-4 col-lg-4">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Zipcode</span>
            <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billZip">
      </div>
    </div>

  </div>
  <br>
  <hr>
  </div>

  <div class="container" id="credit">
    <h2>Credit Card Information</h2>
  </div>
    <div class="container" id="state">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Credit Card Number</span>
              <input type="text" class="form-control card-number" aria-describedby="sizing-addon3">
            </div>
      </div>
      <div class= "col-xs-12 col-md-3 col-lg-3">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Expiration</span>
            <input type="text" class="form-control card-expiry" aria-describedby="sizing-addon3">
      </div>
    </div>
    <div class= "col-xs-12 col-md-3 col-lg-3">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">CVC</span>
            <input type="text" class="form-control card-cvc" aria-describedby="sizing-addon3">
      </div>
    </div>
    <div class="col-xs-12 col-md-2 col-lg-2">
      <button type="button" class="btn btn-default btn-sm order" >
   <form action="/charge" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="ADD_YOUR_PUBLIC_KEY_HERE"
      data-amount="1000"
      data-name="Stripe Example"
      data-description="Pay Me!"
      data-currency="usd">
      </script>
  </form>
    </div>
  </div>
  <br>
  <br>
  <hr>
  </div>
  </div>

{% endblock %}