{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

<div class="container">
    <div class="jumbotron">
      <div class="container">
         <div class="row">
           <div class="col-xs-12 col-md-12 col-lg-12">
              <h1>Checkout</h1>
            </div>
          </div>
        </div>
      <div class="container">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6 col-md-6 col-lg-6">
                <h4><strong>Items in Cart</strong></h4>
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>Cat Sweater x 1</h4>
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>$15.00</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-lg-6">
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>Snake Sweater x 3</h4>
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>$45.00</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-lg-6">
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>Dog Sweater x 1</h4>
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>$20.00</h4>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-lg-6">
                <h4><strong>Total</strong></h4>
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>5</h4>
              </div>
              <div class="col-xs-3 col-md-3 col-lg-3">
                <h4>$80.00</h4>
              </div>
            </div>
          </div>
       </div>
      </div>
    </div>
<div class="container">
    <hr>
  </div>
      <div class="container" id="shipping">

        <h2>Shipping</h2>
      </div>
      <!-- Names for Shipping
 -->
  <div class="container" id="names">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">First Name</span>
              <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipFirstNm">
            </div>
      </div>

      <div class= "col-xs-12 col-md-4 col-lg-4">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Last Name</span>
            <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipLastNm">
            </div>
      </div>
        <div class= "col-xs-12 col-md-4 col-lg-4">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Company</span>
            <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipComp">
            </div>

      </div>
    </div>
  </div>
  <br>
  <br>

<!--       Address line for shipping
 -->
  <div class="container" id="address">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Address Line 1</span>
              <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipAdd1">
            </div>
      </div>
      <div class= "col-xs-12 col-md-6 col-lg-6">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Address Line 2</span>
            <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipAdd2">
            </div>
      </div>
    </div>
  </div>
  <br>
  <br>

   <!--    State, Zipcode, and button to copy all shipping information to Billing -->

   <div class="container" id="state">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">State</span>
              <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipSt">
            </div>
      </div>
      <div class= "col-xs-12 col-md-4 col-lg-4">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Zipcode</span>
            <input type="text" class="form-control shipping" aria-describedby="sizing-addon3" id="shipZip">
      </div>
    </div>
      <button type="button" class="btn btn-default btn-sm" id="button">
  <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> Copy shipping to billing?
</button>
  </div>
</div>
  <div class="container">
    <hr>
  </div>

  <div class="container" id="billing">
    <h2>Billing</h2>
  </div>

  <div class="container" id="billingNames">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">First Name</span>
              <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billFirstNm">
            </div>
      </div>
      <div class= "col-xs-12 col-md-4 col-lg-4">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Last Name</span>
            <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billLastNm">
            </div>
      </div>
        <div class= "col-xs-12 col-md-4 col-lg-4">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Company</span>
            <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billComp">
            </div>

      </div>
    </div>
  </div>
  <br>
  <br>
<!--       Address line for billing
 -->
  <div class="container" id="billingAddress">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">Address Line 1</span>
              <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billAdd1">
            </div>
      </div>
      <div class= "col-xs-12 col-md-6 col-lg-6">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Address Line 2</span>
            <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billAdd2">
            </div>
      </div>
    </div>
  </div>
  <br>
  <br>

   <!--    State, Zipcode, and button to copy all shipping information to Billing -->

   <div class="container" id="billingState">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
            <div class="input-group input-group-sm">
              <span class="input-group-addon" id="sizing-addon3">State</span>
              <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billState">
            </div>
      </div>
      <div class= "col-xs-12 col-md-4 col-lg-4">
        <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon3">Zipcode</span>
            <input type="text" class="form-control billing" aria-describedby="sizing-addon3" id="billZip">
      </div>
    </div>

  </div>
  <br>
  <hr>
  </div>

  <div class="container" id="credit">
    <h2>Credit Card Information</h2>
  </div>
  <div class="container">
    <form class="form-horizontal" role="form" id="product-form" action="/charge" method="post">
      <fieldset>
        <legend>Payment</legend>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="card-number">Card Number</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="card-number" id="card-number" placeholder="Debit/Credit Card Number">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="expiry-month">Expiration Date</label>
          <div class="col-sm-9">
            <div class="row">
              <div class="col-xs-3">
                <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
                  <option>Month</option>
                  <option value="01">Jan (01)</option>
                  <option value="02">Feb (02)</option>
                  <option value="03">Mar (03)</option>
                  <option value="04">Apr (04)</option>
                  <option value="05">May (05)</option>
                  <option value="06">June (06)</option>
                  <option value="07">July (07)</option>
                  <option value="08">Aug (08)</option>
                  <option value="09">Sep (09)</option>
                  <option value="10">Oct (10)</option>
                  <option value="11">Nov (11)</option>
                  <option value="12">Dec (12)</option>
                </select>
              </div>
              <div class="col-xs-3">
                <select class="form-control" name="expiry-year" id="expiry-year">
                  <option value="16">2016</option>
                  <option value="17">2017</option>
                  <option value="18">2018</option>
                  <option value="19">2019</option>
                  <option value="20">2020</option>
                  <option value="21">2021</option>
                  <option value="22">2022</option>
                  <option value="23">2023</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="cvv">Card CVV</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="cvv" id="cvv" placeholder="Security Code">
          </div>
        </div>
        <input type="hidden" name="price" value="50")
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" id="submit-btn" class="btn btn-success">Pay Now</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <br>
  <br>
  <hr>
  </div>
  </div>

{% endblock %}