/* add custom styles */
.navbar-brand img{height:100%;}

 [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }

@media screen and (min-width:767px){
    .navbar-brand-centered {
        position: absolute;
        left: 45%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: transparent;

    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -110px;
    }


.navbar-nav>li>a {padding-top: 10px;padding-bottom: 25px;
font-family: 'Arial', 'Helvetica'; font-size: 18px; line-height: 30px;}

.navbar-default .navbar-nav>li>a {
   color:#7d7d7d;
}

.navbar-default .navbar-nav>li>a:hover {
  color:#ffffff;
}

.navbar-brand{top: 10px;}

.navbar-brand-centered{height:120px;}

.navbar-default {
     background-color: #292929;
     border-color:transparent;
     padding-top: 65px;
      -webkit-box-shadow: 0 6px 6px 0px #999;
        -moz-box-shadow: 0 6px 6px 0px #999;
             box-shadow: 0 6px 6px 0px #999;
     border-radius: 0px;
}


@media (max-width: 801px) {
.navbar-default{padding-top:0; background-color: #292929; border-color:transparent;}
.navbar-brand{padding: 10px 10px;}
.navbar-brand-centered{height:100px;}
.navbar-toggle{bottom:-20px;}
}

/*/// Body ///*/



/*  Danny's Additions  */

.cart {
  position: absolute;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: gray;
  font-size: 2rem;
}


/*  END Danny's Additions */

.mt-100 {
    margin-top: 100px;
}
.mt-30 {
    margin-top: 50px;
}
.mb-100 {
    margin-bottom: 100px;
}

.header {
    padding-top: 0px;
    background-color: #eee;
    overflow: hidden;
}
.footer {
    color: #887;
    background-color: #292929;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-shadow: 6px 6px 6px 0px #999;
        -moz-box-shadow: 6px 6px 6px 0px #999;
             box-shadow: 6px 6px 6px 0px #999;
}

.content {
    position: relative;
    display: table;
    width: 100%;
    min-height: 60vh;
}
.pull-middle {
    display: table-cell;
    vertical-align: middle;

}

.btn {
    padding-left: 25px;
    padding-right: 25px;
}
.btn-circle {
    border-radius: 5px;
}

.input-group input {
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    box-shadow: none;
    padding-right: 30px;
    margin-top: 10px;
    width: 90%;
}
.input-group input:focus,
.input-group input:active {
    border-width: 0px 0px 4px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-color: #367ab3;
}
.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -18px;
    border-radius: 5px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 90%;
    margin-bottom: 0;
}
.panel-body {
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

/*//// Admin Product Inventory ////*/

.productbox {
    background-color:#ffffff;
    padding:10px;
	margin:5px 0;
    border: 1px solid #cfcfcf;
    -moz-box-shadow: 2px 2px 4px 0px #cfcfcf;
    -webkit-box-shadow: 2px 2px 4px 0px #cfcfcf;
    -o-box-shadow: 2px 2px 4px 0px #cfcfcf;
    box-shadow: 2px 2px 4px 0px #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=4);
}

.producttitle {
    font-weight:bold;
    font-size:1.2em;
	padding:5px 0 5px 0;
}

.producttext {

}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;


}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}

/*//// Client side product lists ////*/

.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}
.panel-pricing .panel-heading {
  padding: 20px 10px;
}
.panel-pricing .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, .1);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #ffffff;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    background-color: #292929;
}

.navbar2 {
    position: relative;
    height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    background-color: #fff;
}

.navbar2-nav>li>a {padding-top: 10px;padding-bottom: 25px;
font-family: 'Arial', 'Helvetica'; font-size: 18px; line-height: 30px;}

